*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

h2, h3 {
    margin-bottom: 20px;
}

#wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-img{
    top : -25%;
    width: 100%;
    height: 125%;
    position: absolute;
    z-index: -10;
}

.container{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.grid{
    position: relative;
    height: 70%;
    width: 100%;
}

.square{
    height: 8rem;
    width: 10rem;
    padding: 1em;
    position: absolute;
}

.place-1{
    top: 60%;
    left: 20%;
}

.place-2{
    top: 80%;
    left: 31%;
}

.place-3{
    top: 54%;
    left: 50%;
}

.place-4{
    top: 43%;
    left: 3%;
}

.place-5{
    top: 39%;
    left: 32%;
}

.place-6{
    top: 17%;
    left: 77%;
}

.place-7{
    top: 39%;
    left: 69%;
}

.place-8{
    top: 21%;
    left: 14%;
}

.place-9{
    top: 24%;
    left: 52%;
}

.hole{
    width: 20%;
    position: absolute;
}
.mole{
    background-image: url("./Images/before.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}
.gotcha{
    background-image: url("./Images/after.png");
    background-size: contain; 
    background-position: center 32px;
    background-repeat: no-repeat;
}
.shadow {
    position: absolute;
    width: 100%;
    height: 15%;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: rgb(241, 178, 125);
    border-radius: 50%;
}



.square {
    
    transition: transform 0.2s;
}

.square:hover {
    transform: scale(1.05); 
}

/* modal */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: color 0.3s;
}

.close:hover {
    color: #333;
}

h2 {
    color: #333;
}

#finalScore {
    font-weight: bold;
    font-size: 24px;
    color: #ff5733; 
    margin-bottom: 20px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}